.finished-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.finished-box .score {
  color: #212121;
  background-color: #4dd0e1;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  font-weight: 500;
}

.finished-box .highscore {
  color: white;
  align-self: center;
  margin-top: 0;
}

.finished-box .restart-btn {
  margin-top: 1rem;
  border: none;
  border-radius: 2rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.192);
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}
.finished-box .restart-btn:hover {
  background-color: #4dd0e1;
  color: #212121;
}
