.progress-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.25rem;
}
progress {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 11px;
}
.progress-bar::-webkit-progress-bar {
  background-color: #eeeeee;
  border-radius: 1rem;
}
.progress-bar::-webkit-progress-value {
  background-color: #4dd0e1;
  border-radius: 1rem;
}

.progress-info p {
  margin: 0;
  color: white;
}
.progress-container {
  margin-bottom: 2rem;
}
